[submodule "vc-betterconsolejanitor"]
	path = vc-betterconsolejanitor
	url = git@github.com:sadan4/vc-betterconsolejanitor.git
[submodule "emojiOnMouseUp"]
	path = emojiOnMouseUp
	url = git@github.com:sadan4/emojiOnMouseUp.git
[submodule "plugin-customFolderIcons"]
	path = plugin-customFolderIcons
	url = git@github.com:sadan4/plugin-customFolderIcons.git
[submodule "plugin-unitConverter"]
	path = plugin-unitConverter
	url = git@github.com:sadan4/plugin-unitConverter.git
[submodule "urbanSearch"]
	path = urbanSearch
	url = git@github.com:sadan4/urbanSearch.git
[submodule "vencord-steamStatusSync"]
	path = vencord-steamStatusSync
	url = https://github.com/hauntii/vencord-steamStatusSync
[submodule "DiscordColorways-VencordUserplugin"]
	path = DiscordColorways-VencordUserplugin
	url = https://github.com/DaBluLite/DiscordColorways-VencordUserplugin
[submodule "FriendCodes"]
	path = FriendCodes
	url = https://github.com/Domis-Vencord-Plugins/FriendCodes
